.container {
	margin: 40px;
}

.postsAndSearch {
	height: calc(100% - 60px);
}

.postList {
	display: flex;
	flex-wrap: wrap;
	margin: 0.3vw;
}

.noPostsFound {
	margin: 21.2vh 0;
	text-align: center;
}
