.container {
	margin-top: 7vh;
	min-height: 60vh;
}
.postText {
	min-height: 80px;
	border: 1px solid black;
	font-size: 18px;
	white-space: pre-line;
}

.icon {
	width: 8vh;
	height: 8vh;
	cursor: pointer;
}
