.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(51, 51, 51, 0.3);
	color: #fff;
	padding: 0.5vw;
	position: relative;
	bottom: 0;
	width: 100%;
}

.date {
	font-weight: 400;
}

.tgicon {
	position: relative;
	top: 0.5vh;
	max-width: 1vw;
	max-height: 1vw;
	margin: 0 1vh;
}

.tg {
	cursor: pointer;
}

.email {
	opacity: 0;
}
