.arrow_butt {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	border-radius: 50%;
	right: 28vh;
	bottom: 5vh;
	background-color: rgba(0, 0, 0, 0.3);
	width: 7vh;
	height: 7vh;
	color: white;
	border: none;
	font-weight: 555;
	font-size: 2.5vw;
	cursor: pointer;
	transition: background-color 0.2s ease;
	z-index: 20;
}

.arrow_butt::before {
	content: 'ᐱ';
}

.arrow_butt:hover {
	background-color: #f1f1f1;
	color: black;
}
